/* CarpoolList.scss */
.carpool-item {
  border: 1px solid #ddd;
  padding: 10px;
  margin-bottom: 10px;
  border-radius: 4px;
}

.carpool-driver-photo {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  margin-right: 10px;
}
.carpoolListBox {
  display: flex;
  flex-wrap: nowrap;
  align-items: center;
  justify-content: flex-start;

  .iconCar {
    width: 50px;
    height: auto;
    margin-left: 10px;
    margin-right: 10px;
  }

  .delete-btn {
    background: none;
    border: none;
    color: red;
    font-size: 1.2rem;
    cursor: pointer;
    margin-left: 10px;
  }

  .delete-btn:hover {
    transform: scale(1.1);
  }
}
