.displayPlayers-container {
  /* Styles pour le conteneur principal */
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  flex-direction: column; /* Espacement entre les cartes */
  /* Ajoutez d'autres styles au besoin */

  .titreDisplayPlayer {
    h2 {
      color: rgb(6, 1, 39);
    }
    p {
      color: rgb(6, 1, 39);
    }
    h3 {
      color: rgb(6, 1, 39);
    }
  }
  .mapParticipants {
    display: flex;
    gap: 20px;
    flex-wrap: wrap;
    justify-content: center;
    .postCardDisplayPlayer {
      /* Styles pour chaque carte d'utilisateur */
      background-color: #fff;
      border: 1px solid #ccc;
      border-radius: 8px;
      padding: 16px;
      width: 30%; /* Ajustez la largeur au besoin */
      max-width: 150px;
      min-width: 110px; /* Ajoutez d'autres styles au besoin */

      .photoProfilDisplayPlayer {
        /* Styles pour la photo de profil */
        max-width: 100%;
        height: auto; /* Pour maintenir le ratio hauteur/largeur */
        border-radius: 50%; /* Pour une forme de cercle */
        /* Ajoutez d'autres styles au besoin */
        cursor: pointer;
      }

      .userNameDisplayPlayer {
        /* Styles pour le nom d'utilisateur */
        display: flex;
        justify-content: center;
        font-weight: bold;
        color: darkred;
        font-size: 1.5em;
        overflow-wrap: break-word;
        // word-wrap: break-word;
        /* Ajoutez d'autres styles au besoin */
      }
    }
  }
}

.mapPlacesDisponibles {
  h2 {
    color: rgb(6, 1, 39);
  }
  p {
    color: rgb(6, 1, 39);
  }
}

.photoPofilModal {
  border-radius: 50%;
  width: 50%;
  height: auto;
}

.buttonJoinAdventure {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 200px;
  height: 50px;
  border-radius: 50px;
}

.buttonJoinAdventure:hover {
  border-color: #ffffff;
  transform: scale(1.025);
  box-shadow: #000000;
  cursor: pointer;
}

.photoMaitreDuJeux {
  border-radius: 50%;
  width: 11%;
  min-width: 95px;
  height: auto;
  color: darkred;
  font-size: 1.5em;
  cursor: pointer;
}

// .meneurPartieDisplayPlayer {
//   color: darkred;
//   font-size: 1.5em;
// }
