// Styles pour le composant JoueursComponent

.globalDivTableau {
  padding: 20px;
  border: 1px solid #ccc;
  background-color: none;
  border-radius: 5px;
  overflow-x: auto;
  width: 100%;
  height: 100%;

  .joueursComponentH1 {
    font-size: 24px;
    margin-bottom: 20px;
  }

  .globalDivTable {
    width: 100%;
    border-collapse: collapse;

    .ligneDesTitres {
      background-color: #333;
      color: #fff;

      .classTh {
        padding: 10px;
        text-align: center;
        border: 1px solid #444;
        // white-space: nowrap;
      }
    }

    .classTbody {
      .classTh {
        background-color: none;

        .celluleTd {
          padding: 10px;
          text-align: center;
          border: 1px solid #ccc;
          max-width: 100px;
          max-height: 200px;
          // white-space: nowrap; // Évitez le renvoi automatique du texte
          overflow-y: hidden; // Masquez le contenu dépassant la largeur
          overflow-x: hidden;
          overflow: auto;
          // text-overflow: ellipsis; // Affichez "..." pour le texte dépassant la largeur
          white-space: normal; // Permet le passage à la ligne
          word-wrap: break-word; // Permet de casser les mots longs

          input[type="text"] {
            width: 100%;
            padding: 5px;
          }

          .buttonJoueursComponent {
            background: none;
            margin-top: 30px;
            .poubelJoueursComponent {
              width: 50px;
              height: 55px;
            }
          }
        }
      }
    }
  }
}
