.modalModificationPartie {
  /* Styles de base pour le modal */
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  justify-content: center;
  align-items: center;
  z-index: 100;
  transition: opacity 0.3s ease-in-out;
}

.modalModificationPartie.open {
  /* Styles pour afficher le modal */
  display: flex;
}

.modalModificationPartie-content {
  background-color: white;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
  text-align: center;
}

button[type="buttonExitPartie"] {
  /* Styles des boutons */
  background-color: #5c72eef0;
  color: white;
  border: none;
  border-radius: 5px;
  padding: 10px 20px;
  margin: 10px;
  cursor: pointer;
  font-size: 16px;
  transition: background-color 0.3s ease;

  &:hover {
    background-color: #128916;
  }
}

button[type="buttonExitPartieNo"] {
  /* Styles des boutons */
  background-color: #5c72eef0;
  color: white;
  border: none;
  border-radius: 5px;
  padding: 10px 20px;
  margin: 10px;
  cursor: pointer;
  font-size: 16px;
  transition: background-color 0.3s ease;

  &:hover {
    background-color: #dd8b33ef;
  }
}

.modalModificationPartieH2 {
  font-size: 24px;
  margin-bottom: 20px;
}

.modalModificationPartieH3 {
  font-size: 18px;
}
