.confirmationSupresmodal {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  background: rgba(0, 0, 0, 0.82);
  z-index: 1000;
  gap: 40px;
}

.confirmationSupresmodal p {
  font-size: 18px;
  margin-bottom: 20px;
  text-align: center;
}

.confirmationSupresmodal button {
  padding: 10px 20px;
  margin: 0 10px;
  border: none;
  cursor: pointer;
  transition: background 0.3s;
  border-radius: 5px;
}

.confirmationSupresmodal button:first-child {
  background: #4caf50; /* Vert pour le bouton "Oui" */
  color: white;
}

.confirmationSupresmodal button:last-child {
  background: #f44336; /* Rouge pour le bouton "Annuler" */
  color: white;
}
