.navBarDesktopContainer {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1; /* Une valeur élevée pour s'assurer qu'elle est au-dessus de tout le contenu */
  background-color: transparent;
  z-index: 1000;

  display: flex;
  // border: solid;
  justify-content: space-between;
  align-items: center;

  .boxlogoNavBar {
    .logoNavBar {
      // border: solid;
      width: 100px;
      height: 100px;
    }
  }
  .mainButtonsNavBar {
    display: flex;
    // border: solid;
    align-items: center;

    .buttonNavBar {
      position: relative;
      color: #fff;
      font-size: 1.5vw;
      // font-weight: 400;
      line-height: 25px;
      letter-spacing: -0.13px;
      text-decoration: none;
      margin-left: 1.2rem;
      margin-right: 1.2rem;
      transition: all 0.5s ease;
      will-change: transform;
    }
    .nav-item:hover {
      color: rgb(168, 239, 255, 0.9);
      transform: scale(1.3);
    }

    .nav-item::after {
      content: "";
      position: absolute;
      bottom: -0.3rem;
      left: 50%;
      width: 0;
      height: 0.15rem;
      transform: translateX(-50%);
      background-color: rgb(168, 239, 255, 0.9);
      transition: all 0.5s ease;
    }

    .nav-item:hover::after {
      width: 100%;
    }
  }
}

/* Styles pour le menu hamburger */
@media (max-width: 768px) {
  .navBarDesktopContainer {
    .mainButtonsNavBar {
      display: none; /* Masquez les boutons de navigation par défaut */
    }

    .menuButton {
      display: block; /* Affichez le bouton du menu hamburger */
      background-color: transparent;
      border: none;
      cursor: pointer;
      font-size: 24px;
      padding: 10px;
      color: white;
    }

    .menuItems {
      position: absolute;
      width: 100%;
      height: 90vh;
      top: 100px;
      right: 0;
      background-color: rgba(6, 1, 39, 0.898);
      // box-shadow: 0px 4px 6px rgba(255, 252, 252, 0.1);
      z-index: 1;
      font-size: 2em;
      padding: 10px;
      display: flex;
      flex-direction: column; /* Affichez les éléments du menu en colonne */
      align-items: flex-end; /* Alignez-les à droite */
    }

    .menuItem {
      margin: 5px;
      text-align: right; /* Alignez le texte à droite */
      text-decoration: none;
      color: #333;
      font-weight: bold;
      padding: 5px;
      color: white;
    }
  }
}
