// PartiesComponent.scss

.parties-container {
  margin: 0 auto;
  width: 100%;
  height: 100%;
  overflow-x: auto;
}

.parties-heading {
  font-size: 1.5rem;
  margin-bottom: 1rem;
}

.parties-table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 1rem;
  overflow-x: auto;
}

.parties-table-head {
  background-color: #ffffffc2;
  color: rgb(6, 1, 39);
}

.parties-table-data,
.parties-table-head th {
  padding: 0.5rem;
  border: 1px solid #ddd;
  text-align: left;

  .buttonParties-table-data {
    background: none;
    margin-top: 30px;
    .poubelPartiesComponent {
      cursor: pointer;
      width: 50px;
      height: 55px;
    }
  }
}

.parties-table-data input {
  width: 100%;
  padding: 0.25rem;
  box-sizing: border-box;
}

.parties-table-actions button {
  margin-right: 0.5rem;
  cursor: pointer;
}
