// == Définition des polices ==
$font-primary: "Poppins", sans-serif;
$font-secondary: "Segoe UI", sans-serif;

:root {
  // Polices
  --font-primary: "Poppins", sans-serif;
  --font-secondary: "Segoe UI", sans-serif;

  // Rayon des bordures (valeur par défaut)
  --border-radius: 50px;

  // Couleurs par défaut (mode jour)
  --color-lightbrown: rgb(153, 115, 95);
  --color-brown: rgb(142, 110, 89);
  --color-darkbrown: rgb(77, 57, 48);
  --color-darkbrown2: rgb(117, 109, 105);
  --color-darkbrown3: rgb(136, 136, 136);
  --color-accent: rgb(251, 247, 244);
  --color-accent-darker: rgb(242, 237, 233);
  --color-accent-green: rgb(0, 128, 0);
  --color-snow: rgb(244, 244, 244);
  --color-lighter-black: rgb(20, 20, 20);

  // Couleurs adaptatives (par défaut : jour)
  --heading-color: var(--color-darkbrown);
  --text-color: var(--color-darkbrown3);
  --background-color: var(--color-accent);
  --border-color: var(--color-brown);
  --accent-color: var(--color-accent);
  --accent-color-darker: var(--color-accent-darker);
  --box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.2);
}

.light-mode {
  --background-color: var(--color-accent);
  --text-color: var(--color-darkbrown3);
  --heading-color: var(--color-darkbrown);
  --border-color: var(--color-brown);
  --accent-color: var(--color-accent-green);
  --accent-color-darker: var(--color-accent-darker);
  --box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.2);
}

.dark-mode {
  --background-color: var(--color-lighter-black);
  --text-color: var(--color-snow);
  --heading-color: var(--color-snow);
  --border-color: var(--color-darkbrown2);
  --accent-color: var(--color-accent-green);
  --accent-color-darker: var(--color-accent-darker);
  --box-shadow: 0px 5px 15px rgba(255, 255, 255, 0.2);
}

// == Variables pour les boutons ==
$button-padding: 0.75rem 1.5rem;
$button-border-radius: 5px;
$button-background: var(--color-accent);
$button-hover-background: var(--color-accent-darker);
$button-text-color: var(--text-color);

// == Mixins pour les thèmes ==
@mixin light-theme {
  --background-color: var(--color-accent);
  --text-color: var(--color-darkbrown3);
  --text-color2: var(--color-snow);
  --accent-color: var(--color-accent);
  --accent-color-darker: var(--color-accent-darker);
  --accent-color-green: var(--color-accent-green);
  --border-color: var(--color-brown);
  --box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.2);
  --container-background-color: var(--color-snow);
}

@mixin dark-theme {
  --background-color: var(--color-lighter-black);
  --text-color: var(--color-snow);
  --accent-color: var(--color-accent);
  --accent-color-darker: var(--color-accent-darker);
  --border-color: var(--color-darkbrown2);
  --box-shadow: 0px 5px 15px rgba(255, 255, 255, 0.2);
  --container-background-color: var(--color-snow);
}

// == Mixins pour les styles des boutons ==
@mixin button-style {
  padding: $button-padding;
  border-radius: $button-border-radius;
  background-color: var(--accent-color);
  color: var(--text-color);
  border: 1px solid var(--border-color);
  box-shadow: var(--box-shadow);
  cursor: pointer;
  transition: background-color 0.3s, box-shadow 0.3s;

  &:hover {
    background-color: var(--accent-color-darker);
    box-shadow: 0px 6px 12px rgba(0, 0, 0, 0.3);
  }
}
