@import "../../styles/variables.scss"; // Assurez-vous que les variables globales sont disponibles

/* Styles pour le composant UsersTab */
.users-tab {
  padding: 20px;

  h2 {
    margin-bottom: 20px;
    font-family: var(--font-secondary);
    font-size: var(--font-size-h2);
    color: var(--heading-color);
  }

  .users-table {
    width: 100%;
    border-collapse: collapse;

    th,
    td {
      padding: 10px;
      border: 1px solid var(--border-color);
      text-align: left;
    }

    th {
      background-color: var(--container-background-color);
      color: var(--text-color);
    }

    .actions {
      display: flex;
      gap: 10px;

      .action-icon {
        width: 24px;
        height: 24px;
        cursor: pointer;
        transition: transform 0.2s ease, opacity 0.2s ease;

        &:hover {
          transform: scale(1.1);
          opacity: 0.8;
        }

        &.edit-icon {
          filter: hue-rotate(50deg); /* Ajustez pour un effet visuel */
        }

        &.delete-icon {
          filter: hue-rotate(0deg);
        }
      }
    }
  }

  .filters {
    display: flex;
    gap: 15px;
    margin-bottom: 20px;

    label {
      font-weight: bold;
      color: var(--text-color);
    }

    input,
    select {
      padding: 8px;
      border: 1px solid var(--border-color);
      border-radius: var(--border-radius);
      font-family: var(--font-primary);
      color: var(--text-color);
      background-color: var(--background-color);
      transition: border-color 0.2s;

      &:focus {
        border-color: var(--accent-color);
        outline: none;
      }
    }
  }
}

/* ----------------------------- */
/*    STYLES POUR REACT-TOASTIFY */
/* ----------------------------- */

/* Conteneur principal des toasts */
.Toastify__toast-container {
  z-index: 9999;
}

/* Style général d'un toast */
.Toastify__toast {
  border-radius: var(--border-radius);
  font-family: var(--font-primary);
  min-height: 48px;
  display: flex;
  align-items: center;
  box-shadow: var(--box-shadow);

  .Toastify__close-button > svg {
    fill: var(--text-color);
  }
}

/* Toast de succès */
.Toastify__toast--success {
  background-color: #4caf50; /* Vert */
}

/* Toast d'erreur */
.Toastify__toast--error {
  background-color: #f44336; /* Rouge */
}

/* Toast d'avertissement */
.Toastify__toast--warning {
  background-color: #ff9800; /* Orange */
}

/* Toast d'information */
.Toastify__toast--info {
  background-color: #2196f3; /* Bleu */
}
