.navbar {
  position: sticky;
  top: 0;
  z-index: 10;
  background-color: rgba(255, 255, 255, 0.9);
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
  padding: 1rem;
  display: flex;
  align-items: center;
  justify-content: space-between;

  &.desktop {
    .navbar-logo img {
      height: 50px;
    }

    .navbar-links {
      display: flex;
      list-style: none;

      li {
        margin: 0 0.5rem;

        a {
          text-decoration: none;
          font-size: 1rem;
          color: #333;
          font-weight: 600;

          &:hover {
            color: #0077cc;
          }

          &.active {
            color: #0077cc;
            font-weight: bold;
          }
        }

        .logout-button {
          background: none;
          border: none;
          font-size: 1rem;
          color: #f44;
          cursor: pointer;

          &:hover {
            text-decoration: underline;
          }
        }
      }
    }
  }

  &.mobile {
    display: none;
    flex-direction: column;
    background-color: transparent;

    .navbar-icons {
      list-style: none;
      display: flex;
      justify-content: space-around;
      align-items: center;
      position: fixed;
      bottom: 0;
      left: 0;
      right: 0;
      background-color: rgba(0, 0, 0, 0.9);
      padding: 0.5rem 0;
      z-index: 1000;

      li {
        flex: 1;
        text-align: center;

        a {
          display: inline-block;
          padding: 0.5rem;
          img {
            width: 30px;
            height: 30px;
          }

          &:hover img {
            filter: brightness(1.2);
          }
        }
      }
    }
  }

  @media (max-width: 768px) {
    &.desktop {
      display: none;
    }

    &.mobile {
      display: flex;
    }
  }
}
