@import '../../styles/variables.scss'; 

// == Définition des variables SCSS pour les polices ==
$font-primary: "Poppins", sans-serif;
$font-secondary: "system-ui", cursive;

// == Styles pour la barre de navigation ==
.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: var(--background-color); // Utilisation de la variable CSS
  padding: 1rem 2rem;

  // Logo de la navbar
  &-logo {
    img {
      width: 150px;
      height: auto;
    }
  }

  // Liens de navigation
  &-links {
    list-style: none;
    display: flex;
    align-items: center;

    li {
      margin-left: 1.5rem;

      a {
        text-decoration: none;
        color: var(--text-color); // Utilisation de la variable CSS
        font-family: $font-primary;
        font-size: 1rem;
        transition: color 0.3s ease;

        &:hover {
          color: var(--accent-color); // Utilisation de la variable CSS
        }

        &.active {
          font-weight: bold;
          border-bottom: 2px solid var(--accent-color); // Indicateur de lien actif
        }
      }
    }
  }

  // Toggle pour le thème
  .toggle-theme {
    margin-left: auto;
    display: flex;
    align-items: center;

    // Styles spécifiques pour le toggle
    label {
      display: flex;
      align-items: center;
      cursor: pointer;

      .toggle-checkbox {
        display: none;
      }

      .toggle-slot {
        position: relative;
        width: 50px;
        height: 25px;
        background-color: var(--accent-color);
        border-radius: 12.5px;
        margin-left: 0.5rem;
        transition: background-color 0.3s ease;

        .sun-icon-wrapper,
        .moon-icon-wrapper {
          position: absolute;
          top: 50%;
          transform: translateY(-50%);
          color: var(--background-color);
        }

        .sun-icon-wrapper {
          left: 5px;
        }

        .moon-icon-wrapper {
          right: 5px;
        }

        .toggle-button {
          position: absolute;
          top: 2.5px;
          left: 2.5px;
          width: 20px;
          height: 20px;
          background-color: var(--background-color);
          border-radius: 50%;
          transition: transform 0.3s ease;
        }
      }

      // Changement de position du bouton quand le toggle est activé
      .toggle-checkbox:checked + .toggle-slot .toggle-button {
        transform: translateX(25px);
      }
    }
  }
}
