@import "../../styles/variables.scss";

.calendar-container {
  width: 90%; /* Utilisation de pourcentage pour la largeur */
  max-width: 800px; /* Ajout d'une largeur maximale pour éviter que le calendrier ne devienne trop large sur les grands écrans */
  margin: 0 auto; /* Centrage horizontale */
  background-color: #ffffff;
  border-radius: 10px;
  padding: 5px;
}

.calendar-month-arrow-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap; /* Permettre le retour à la ligne des éléments sur les petits écrans */
}

.calendar-month-year-container,
.calendar-arrow-container {
  flex: 1;
  margin: 10px; /* Espacement entre les éléments */
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: center;
}
.calendar-months,
.calendar-years {
  border-radius: 10px;
  background-color: gainsboro;
  margin: 10px;
}

.calendarLeft-arrow {
  width: 50px;
  height: 50px;
}
.calendar-right-arrow {
  height: 5vw; /* Utilisation des unités de vue minimale pour la taille */
  width: 5vw;
  font-size: 3vw; /* Taille du texte proportionnelle */
  border-radius: 50%;
  margin: 10px;
}
.calendar-today-button {
  height: 35px;
  width: 135px;
  font-size: 20px; /* Taille du texte proportionnelle */
  background-color: #ec7625;
  border-radius: 10px;
  margin: 10px;
}

.calendar-week {
  display: flex;
  list-style: none;
  padding-inline-start: 0;
  color: #ec7625;
  justify-content: space-around;
  flex-wrap: wrap; /* Permettre le retour à la ligne sur les petits écrans */
}

.calendar-week li {
  max-width: 14%; /* Définir une largeur maximale pour les jours de la semaine */
  text-align: center;
}

.calendar-days {
  margin-top: 2px;
  list-style: none;
  display: grid;
  grid-template-columns: repeat(
    7,
    1fr
  ); /* 7 colonnes pour les jours de la semaine */
  gap: 5px;
  padding-inline-start: 0;
}

.calendar-day {
  text-align: center;
  color: #525659;
  padding: 1vw; /* Utilisation de unités de vue minimale pour le rembourrage */
  cursor: pointer;
  position: relative;

  // Media Query pour ajuster la grille sur les écrans de petite taille
  @media screen and (max-width: 768px) {
    padding: 2vw; /* Réduire le nombre de colonnes à 5 pour les petits écrans */
  }

  // Media Query pour ajuster la grille sur les écrans de très petite taille
  @media screen and (max-width: 480px) {
    padding: 2.5vw; /* Réduire le nombre de colonnes à 3 pour les très petits écrans */
  }
}

.calendar-day.has-event::before {
  content: "";
  display: block;
  width: 10px;
  height: 10px;
  background-color: orange;
  border-radius: 50%;
  position: absolute;
  bottom: 2px;
  left: 50%;
  transform: translateX(-50%);
}

/* Ajouter des Media Queries pour des ajustements spécifiques */
@media screen and (max-width: 600px) {
  .calendar-container {
    width: 100%; /* Utilisation de la largeur de 100% sur les petits écrans */
    max-width: none; /* Supprimer la largeur maximale pour les petits écrans */
  }

  .calendar-month-year-container,
  .calendar-arrow-container {
    margin: 5px; /* Réduire l'espacement entre les éléments sur les petits écrans */
  }
}

.calendar-day.current-day {
  background-color: #09188683; /* Couleur de fond pour le jour actuel */
  color: #ffffff; /* Couleur du texte pour le contraste */
  border-radius: 5px; /* Arrondir les coins pour un effet visuel */
}

.calendar-day.selected-day {
  border: 2px solid #ec7625; /* Couleur du cadre autour de la date sélectionnée */
  border-radius: 5px; /* Arrondir les coins pour correspondre au design */
}
