@import "../styles/variables.scss"; // Import des variables globales

/* Styles pour la page d'administration */
.admin-page {
  padding: 20px;
  color: var(--text-color);

  h1 {
    text-align: center;
    margin-bottom: 20px;
    font-family: var(--font-secondary);
    font-size: var(--font-size-h1);
    color: var(--heading-color);
  }

  .tabs {
    display: flex;
    justify-content: center;
    margin-bottom: 20px;

    button {
      background-color: rgb(77, 57, 48);
      border: 2px solid var(--border-color);
      padding: 12px 24px;
      margin: 0 5px;
      cursor: pointer;
      border-radius: var(--border-radius);
      font-size: var(--font-size-p);
      font-family: var(--font-primary);
      color: white;
      font-weight: bold;
      transition: background-color 0.3s, color 0.3s, transform 0.2s, box-shadow 0.3s;

      &.active {
        background-color: rgba(77, 57, 48, 0.507);
        color: white;
        font-weight: bold;
        box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.2);
      }

      &:hover {
        background-color: var(--accent-color-darker);
        color: var(--background-color);
        transform: translateY(-2px);
        box-shadow: 0px 6px 8px rgba(0, 0, 0, 0.3);
      }

      &:focus {
        outline: none;
        border-color: var(--accent-color);
        box-shadow: 0 0 0 3px rgba(var(--accent-color), 0.5);
      }
    }
  }

  .actions {
    display: flex;
    justify-content: center;
    margin-bottom: 20px;

    .export-button {
      padding: 12px 24px;
      background-color: rgb(77 57 48);
      color: var(--background-color);
      font-size: var(--font-size-p);
      font-family: var(--font-primary);
      font-weight: bold;
      border: 2px solid var(--accent-color-darker);
      border-radius: var(--border-radius);
      cursor: pointer;
      transition: background-color 0.3s, transform 0.2s, box-shadow 0.3s;

      &:hover {
        background-color: rgba(77, 57, 48, 0.534);
        transform: translateY(-2px);
        box-shadow: 0px 6px 8px rgba(0, 0, 0, 0.3);
      }

      &:active {
        transform: translateY(0);
        box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.2);
      }

      &:focus {
        outline: none;
        border-color: var(--accent-color-darker);
        box-shadow: 0 0 0 3px rgba(var(--accent-color), 0.5);
      }
    }
  }

  .tab-content {
    max-width: 1200px;
    margin: 0 auto;
    background-color: var(--container-background-color);
    padding: 20px;
    border-radius: var(--border-radius);
    box-shadow: var(--box-shadow);
    color: var(--text-color);
  }
}

/* Mode sombre spécifique */
.dark-mode {
  .admin-page {
    color: var(--text-color);

    .tabs button {
      background-color: var(--background-color-dark);
      border-color: var(--border-color);
      color: var(--text-color);

      &:hover {
        background-color: var(--accent-color);
        color: var(--background-color-dark);
      }

      &.active {
        background-color: var(--accent-color);
        color: var(--background-color-dark);
        font-weight: bold;
        box-shadow: 0px 4px 6px rgba(255, 255, 255, 0.2);
      }

      &:focus {
        outline: none;
        border-color: var(--accent-color);
        box-shadow: 0 0 0 3px rgba(var(--accent-color), 0.5);
      }
    }

    .tab-content {
      background-color: var(--background-color-dark);
      box-shadow: 0px 6px 10px rgba(255, 255, 255, 0.1);
      color: var(--text-color);
    }

    .actions .export-button {
      background-color: rgb(77 57 48);
      color: var(--text-color);
      border-color: var(--accent-color);

      &:hover {
        background-color: var(--accent-color);
        color: var(--background-color-dark);
        box-shadow: 0px 6px 8px rgba(255, 255, 255, 0.3);
      }

      &:active {
        transform: translateY(0);
        box-shadow: 0px 4px 6px rgba(255, 255, 255, 0.2);
      }
    }
  }
}
