// == Importation des variables globales ==
@import "../styles/variables.scss";
@import "../styles/buttons.scss";

// == Styles globaux pour la page Home ==
.home {
  // padding-top: 5%;
  padding-bottom: 5%;
}
.section-intro {
  position: relative;
  width: 100%;
  height: 100vh;
  overflow: hidden;

  .video-wrapper {
    position: relative;
    width: 100%;
    height: 100%;

    .video-background {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }

    .overlay {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      display: flex;
      justify-content: center;
      align-items: center;
      background: linear-gradient(
        to right,
        rgba(0, 0, 0, 0.8) 0%,
        rgba(0, 0, 0, 0.4) 50%,
        rgba(0, 0, 0, 0) 100%
      );
      color: #fff;
      z-index: 1;

      h1 {
        text-align: center;
        font-size: 2.5rem;
        color: white;
        display: flex;
        align-items: center;
        flex-direction: column;
        gap: 15px;

        img {
          width: 700px;
          height: auto;
        }
      }
    }
  }
}
// == Styles pour les boutons ==
button {
  background-color: var(--color-brown);
  color: var(--color-accent);
  padding: 0.8rem 1.2rem;
  border: var(--color-brown);
  border-radius: var(--border-radius);
  cursor: pointer;
  font-family: var(--font-primary);
  font-size: var(--font-size-p);
  transition: background-color 0.3s ease, transform 0.2s;

  &:hover {
    background-color: var(--color-darkbrown);
    transform: translateY(-3px);
  }
}

// == Section d'introduction ==
.section-intro {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  gap: 2rem;
  margin-bottom: 3rem;
  // padding: 0 15%;

  .intro-text {
    flex: 1 1 50%;

    h1 {
      font-family: var(--font-secondary);
      font-size: var(--font-size-h1);
      line-height: 1.4;
      color: var(--heading-color);
      margin-bottom: 1rem;
    }

    p {
      font-size: var(--font-size-p);
      line-height: 1.6;
      color: var(--text-color);
    }
  }

  .intro-image {
    flex: 1 1 40%;

    img {
      width: 100%;
      height: auto;
      border-radius: var(--border-radius);
    }
  }
}

// == Bouton pour découvrir l'association ==
.cta {
  text-align: center;
  margin-bottom: 3rem;

  // button {
  //   font-size: var(--font-size-p);
  //   font-weight: bold;
  // }
}

// == Section : C'est quoi le jeu de rôle ? ==
.section-what-is-jdr {
  display: flex;
  flex-wrap: nowrap;
  gap: 2rem;
  align-items: center;
  padding: 3rem 15%;
  background-color: var(--container-background-color);
  border-radius: var(--border-radius);
  margin-bottom: 3rem;
  flex-direction: row-reverse;

  .section-what-is-jdr1 {
    width: 50%;
  }

  h2 {
    font-size: var(--font-size-h2);
    font-family: var(--font-secondary);
    color: var(--heading-color);
    margin-bottom: 1rem;
  }

  p {
    font-size: var(--font-size-p);
    line-height: 1.6;
    color: var(--text-color);
  }

  .reflective-image {
    flex: 1 1 40%;

    img {
      width: 100%;
      height: auto;
      border-radius: var(--border-radius);
    }
  }
}

// == Section : Notre association ==
.section-our-association {
  display: flex;
  flex-wrap: wrap;
  gap: 2rem;
  align-items: center;
  flex-direction: row-reverse;
  padding: 3rem 15%;
  margin-bottom: 3rem;

  .divImageSectionAsso {
    flex: 1 1 40%;

    img {
      width: 100%;
      height: auto;
      border-radius: var(--border-radius);
    }
  }

  .section-what-is-jdr1 {
    flex: 1 1 50%;

    h2 {
      font-size: var(--font-size-h2);
      font-family: var(--font-secondary);
      color: var(--heading-color);
      margin-bottom: 1rem;
    }

    p {
      font-size: var(--font-size-p);
      line-height: 1.6;
      color: var(--text-color);
    }
  }
}

// == Section : Notre Agenda ==
.section-agenda {
  padding: 3rem 5%;
  background-color: var(--container-background-color);
  border-radius: var(--border-radius);
  margin-bottom: 3rem;
  display: flex;
  flex-direction: column;
  align-items: center;

  h2 {
    font-size: var(--font-size-h2);
    font-family: var(--font-secondary);
    color: var(--heading-color);
    text-align: center;
    margin-bottom: 1rem;
  }

  p {
    font-size: var(--font-size-p);
    text-align: center;
    margin-bottom: 2rem;
    color: var(--text-color);
  }
}

// == Section : Team ==
.section-team {
  text-align: center;
  margin-bottom: 3rem;
  padding: 0 15%;

  h2 {
    font-size: var(--font-size-h2);
    font-family: var(--font-secondary);
    color: var(--heading-color);
    margin-bottom: 1rem;
  }

  p {
    font-size: var(--font-size-p);
    color: var(--text-color);
    margin-bottom: 2rem;
  }

  // button {
  //   font-size: var(--font-size-p);
  //   font-weight: bold;
  // }
}

// == Section : HelloAsso ==
.section-HelloAsso {
  text-align: center;
  margin-bottom: 3rem;
  padding: 0 15%;

  h2 {
    font-size: var(--font-size-h2);
    font-family: var(--font-secondary);
    color: var(--heading-color);
    margin-bottom: 1rem;
  }

  .boxHelloAsso {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 2rem;

    .helloAsso1 {
      flex: 1 1 40%;

      img {
        width: 100%;
        height: auto;
        max-width: 300px;
        margin-bottom: 1rem;
        border-radius: var(--border-radius);
      }

      p {
        font-size: var(--font-size-p);
        line-height: 1.6;
        color: var(--text-color);
      }
    }

    .helloAsso2 {
      flex: 1 1 40%;

      img {
        width: 80px;
        height: auto;
        margin-bottom: 1rem;
      }
    }
  }
}

// == Section : Nous contacter ==
.section-contact {
  padding: 3rem 15%;
  margin-bottom: 3rem;

  h2 {
    font-size: var(--font-size-h2);
    font-family: var(--font-secondary);
    color: var(--heading-color);
    text-align: center;
    margin-bottom: 1rem;
  }

  p {
    font-size: var(--font-size-p);
    text-align: center;
    margin-bottom: 2rem;
    color: var(--text-color);
  }

  .contact-links {
    display: flex;
    flex-wrap: wrap;
    gap: 2rem;
    justify-content: center;

    .contact-section {
      flex: 1 1 30%;
      text-align: left;

      h3 {
        font-family: var(--font-secondary);
        font-size: var(--font-size-h3);
        margin-bottom: 0.5rem;
        color: var(--heading-color);
      }

      p {
        font-size: var(--font-size-p);
        margin-bottom: 0.5rem;
        color: var(--text-color);
      }

      ul {
        list-style: none;
        padding: 0;

        li {
          margin-bottom: 0.5rem;

          a {
            color: var(--accent-color);
            text-decoration: none;

            &:hover {
              text-decoration: underline;
            }
          }
        }
      }

      .social-icons {
        display: flex;
        gap: 1rem;

        img {
          width: 40px;
          height: auto;
          transition: transform 0.3s ease;

          &:hover {
            transform: scale(1.1);
          }
        }
      }
    }
  }
}

// == Media Queries pour la réactivité ==
@media (max-width: 768px) {
  .section-intro,
  .section-what-is-jdr,
  .section-our-association {
    flex-direction: column;
    text-align: center;

    .intro-text,
    .reflective-image,
    .divImageSectionAsso {
      flex: 1;
      margin: 0 auto;
    }
  }

  .boxHelloAsso {
    flex-direction: column;
    align-items: center;

    .helloAsso1,
    .helloAsso2 {
      flex: 1;
    }
  }
}

@media (max-width: 480px) {
  h2 {
    font-size: var(--font-size-h3);
  }

  p {
    font-size: var(--font-size-small);
  }

  // button {
  //   font-size: var(--font-size-small);
  // }

  img {
    width: 100%;
    height: auto;
  }
}
