.TitreInscription {
  display: flex;
  justify-content: center;
  font-family: "Popins";
  font-size: 120%;
}

.globalContenairInscription {
  display: flex;
  align-items: center;
}

.imagewomanwizard {
  width: 100%; /* Ajustez la largeur selon vos besoins */
  height: 100%; /* Ajustez la hauteur selon vos besoins */
  -webkit-mask-image: radial-gradient(rgb(6, 1, 39) 15%, transparent 70%);
  mask-image: radial-gradient(rgb(6, 1, 39) 15%, transparent 70%);
}

.contenaireInscription {
  display: flex;
  flex-direction: column;
  width: 100%;
  gap: 10px;
}

.textaréacss {
  height: 10%;
  width: 100%;
  background-color: rgb(255, 255, 255);
  font-family: "Popins";
  color: rgb(7, 7, 7);
  border-radius: 50px;
}
