@import "../styles/variables.scss"; // Importation des variables globales
@import "../styles/buttons.scss"; // Si les styles de boutons sont définis dans un fichier séparé

/* Styles pour la page de profil */
.pageProfil {
  margin-top: 10%;
}

/* Titre de bienvenue */
.bienvenueName {
  font-family: var(--font-secondary);
  font-size: var(--font-size-h2);
  color: var(--heading-color);
  text-align: center;
  margin-top: 1.5rem;
}

/* Conteneur du bouton toggle */
.boutonSwitch {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 2rem 0;

  p {
    margin: 0 1rem;
    font-size: var(--font-size-p);
    color: var(--text-color);
  }
}

/* Conteneur principal pour le profil */
.globalBoxProfil {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 2rem auto;
  max-width: 1200px;
  padding: 2rem;
  background-color: var(--container-background-color);
  box-shadow: var(--box-shadow);
  border-radius: var(--border-radius);
  color: var(--text-color);
}

/* Boutons spécifiques au composant */
.btn {
  @include button-style; // Utilisation du mixin global pour les boutons
  width: auto;
  font-size: var(--font-size-p);
}

/* Mode sombre spécifique */
.dark-mode {
  .globalBoxProfil {
    background-color: var(--background-color-dark);
    box-shadow: var(--box-shadow);
  }

  .bienvenueName {
    color: var(--text-color);
  }

  .boutonSwitch p {
    color: var(--text-color);
  }
}
