.boxBouttonExit {
  display: flex;
  margin-top: 100px;
  width: 98%;
  flex-direction: column;
  align-items: center;
  margin-left: 15px;
  .buttonExit {
    border: solid 1px rgb(255, 255, 255);
    border-radius: 50%;
    width: 4%;
    will-change: transform;
    transition: all 0.3s ease-in;

    &:hover {
      border: solid 3px rgb(255, 255, 255);
      transform: scale(1.2);
    }
  }
}
.bienvenurName {
  margin-left: 20px;
}
.bouttonSwitch {
  display: flex;
  justify-content: center;
  margin-bottom: 10px;
  margin-right: 75px;
  p {
    margin-right: 10px;
    margin-left: 10px;
  }
}

.globalBoxProfil {
  .boxListeParties {
    display: flex;
    .boxPictureLeft {
      width: 50%; /* Largeur du conteneur, ajustez selon vos besoins */
      height: 100vh; /* Hauteur du conteneur, ajustez selon vos besoins */
      background-image: url("../assets/pics/medievalKing.svg"); /* URL de votre image */
      background-size: cover; /* La propriété qui fait zoomer l'image */
      background-position: right center; /* Centrez l'image horizontalement et verticalement */
      -webkit-mask-image: linear-gradient(
        to right,
        rgb(6, 1, 39) 10%,
        transparent 90%
      );
      mask-image: linear-gradient(to right, rgb(6, 1, 39) 10%, transparent 90%);
    }

    .boxListeGame {
      width: 50%;
      height: 100vh;
    }
  }
  .boxModifProfil {
    display: flex;

    .bigBoxFormProfil {
      width: 100%;
      display: flex;
      flex-direction: column;
      align-items: center;

      .boxFormProfil {
        width: 100%;

        .boxChangePhotoProfil {
          display: flex;
          flex-direction: column;
          align-items: center;
        }

        .labelChangeProfil {
          width: 100%;
          display: flex;
          flex-direction: column;

          .imputChangeProfil {
            // max-width: 380px;
            width: 100%;
            background-color: #f0f0f0;
            margin: 10px 0;
            height: 55px;
            border-radius: 55px;
            display: grid;
            grid-template-columns: 15% 85%;
            padding: 0 0.4rem;
            position: relative;
          }
        }
      }
    }
    .boxPictureRight {
      width: 99.5%;
      height: 100vh; /* Hauteur du conteneur, ajustez selon vos besoins */
      background-image: url("../assets/pics/queen.svg"); /* URL de votre image */
      background-size: cover; /* La propriété qui fait zoomer l'image */
      background-position: center; /* Centrez l'image horizontalement et verticalement */
      -webkit-mask-image: linear-gradient(
        to left,
        rgb(6, 1, 39) 10%,
        transparent 90%
      );
      mask-image: linear-gradient(to left, rgb(6, 1, 39) 10%, transparent 90%);
    }
  }
}

.profilPictureChange {
  border-radius: 50%;
  border: solid 1px white;
  width: 200px;
  height: auto;
}

//CSS pour les cartes des parties Fetchés
.boxResumeParties {
  display: flex;
  flex-direction: column;
  width: 99%;
  height: 91vh;
  overflow: auto;
}

.boxCardsResumPartie {
  width: 96%;
}

/* Style pour la boîte contenant la liste des parties */
.boxListeGame {
  display: flex;
  flex-wrap: wrap; /* Permet aux cartes de passer à la ligne */
  gap: 20px; /* Espacement entre les cartes */
}

/* Style pour chaque carte de résumé de partie */
.cardResumPartie {
  margin: 20px;
  background-color: #f0f0f0; /* Couleur de fond */
  padding: 20px; /* Marge intérieure pour l'espace entre le contenu et le bord */
  border-radius: 10px; /* Coins arrondis */
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* Ombre légère */
  width: 96%; /*calc(33.33% - 20px) Largeur de chaque carte (1/3 de la largeur parente) */
  min-width: 200px; /* Largeur minimale pour éviter une réduction excessive */
}

/* Style pour le titre */
.cardResumPartie h2 {
  font-size: 18px; /* Taille de police */
  color: rgb(6, 1, 39); /* Couleur du texte */
  margin-bottom: 5px; /* Marge en bas pour espacer les éléments */
}

/* Style pour les autres informations */
.cardResumPartie p {
  font-size: 14px; /* Taille de police */
  color: rgb(6, 1, 39); /* Couleur du texte */
  margin-bottom: 5px; /* Marge en bas pour espacer les éléments */
}

//CSS pour les partie en tant que meneur Fetché
.boxCardsResumPartieMeneur {
  width: 96%;
}

/* Style pour chaque carte de résumé de partie */
.cardResumMeneurParties {
  margin: 20px;
  background-color: #f0f0f0; /* Couleur de fond */
  padding: 20px; /* Marge intérieure pour l'espace entre le contenu et le bord */
  border-radius: 10px; /* Coins arrondis */
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* Ombre légère */
  width: 96%; /*calc(33.33% - 20px) Largeur de chaque carte (1/3 de la largeur parente) */
  min-width: 200px; /* Largeur minimale pour éviter une réduction excessive */
}

/* Style pour le titre */
.cardResumMeneurParties h2 {
  font-size: 18px; /* Taille de police */
  color: rgb(6, 1, 39); /* Couleur du texte */
  margin-bottom: 5px; /* Marge en bas pour espacer les éléments */
}

/* Style pour les autres informations */
.cardResumMeneurParties p {
  font-size: 14px; /* Taille de police */
  color: rgb(6, 1, 39); /* Couleur du texte */
  margin-bottom: 5px; /* Marge en bas pour espacer les éléments */
}
