// App.scss

@import "./styles/variables.scss";

// == Définition des thèmes avec les mixins ==
.light-mode {
  @include light-theme;
}

.dark-mode {
  @include dark-theme;
}

// == Réinitialisation des styles par défaut ==
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: $font-primary;
}

// == Styles globaux pour le corps de la page ==
body {
  width: 100%;
  height: 100%;
  background-color: var(--background-color);
  color: var(--text-color);
}
